# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

if ZMK_SPLIT

config ZMK_SPLIT_ESB
    bool "Enable ZMK Split ESB"
    select ESB
    select ESB_DYNAMIC_INTERRUPTS
    select DYNAMIC_INTERRUPTS
    select DYNAMIC_DIRECT_INTERRUPTS
    select MPSL_DYNAMIC_INTERRUPTS if !BLE
    select RING_BUFFER
    help
        Enables Enhanced ShockBurst protocol for ZMK split keyboards.
        If you enable this, you *must* also ensure that
        CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE >= 2048
        CONFIG_MPSL_TIMESLOT_SESSION_COUNT >= 2
        CONFIG_ESB_MAX_PAYLOAD_LENGTH >= 48
        CONFIG_INPUT_THREAD_STACK_SIZE >= 2048
        CONFIG_INPUT_QUEUE_MAX_MSGS ~= 128
        in your prj.conf.


endif # ZMK_SPLIT

rsource "esb/Kconfig"
